.component {
    overflow: hidden;

    .row {
        height: 100vh;
    }



    .side-right {
        height: 100%;
        padding: 20px 10%;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;

        .title {
            color: #0C438C;
        }

        .form-row {
            label {
                cursor: pointer;
            }

            input[type=radio] {
                display: none;
            }

            input[type=radio]:checked+label {
                color: #FF981C;
                border: 3px solid #FF981C;
            }

            .form-control {
                margin: 10px 0;
            }

            .btn {
                margin: 10px 0;
                background: #FF981C 0 0 no-repeat padding-box;
                border: #FF981C;
            }
        }
    }

    .side-left {
        height: 100%;
        background-image:
            url('../../../assets/images/Rectangle\ 1244.png'),
            url("../../../assets/images/bg-register.png");

        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px;
        color: white;


    }

    .btn {
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #B3B3B3;

        .btn-labeled {
            padding-top: 0;
            padding-bottom: 0;

            .btn-label {
                position: relative;
                left: -12px;
                display: inline-block;
                padding: 6px 12px;
                background: rgba(0, 0, 0, 0.15);
                border-radius: 3px 0 0 3px;
            }
        }
    }
}

.btn1 {
    position: absolute;
    width: 70%;
    top: 85%;
    height: 75px;
    background: none;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.5;
    color: #000000c9;
    letter-spacing: 2px;

}


@media screen and (max-width: 760px) {
    .col-5 {
        display: none;
    }

}