.pannedescription {
    min-height: 100%;
    .discription-header {
        font-family: var(--font-montaserra);
        .title {
            font-size: clamp(30px, 4vw, 60px);
            color: var(--color-blue);
        }

        p {
            font-style: "Rubik";
            font-size: 20px;
            color: #999;
        }

    }

    form {
        .disription {
            outline: none;
            width: 100%;
            max-width: 400px;
            height: 60px;
            border: 2px solid #999;
            border-radius: 5px;
            transition: height 1s;
            overflow-y: hidden;
            resize: none;
            padding: 0 10px;
            line-height: 25px;

            &:focus {
                height: 200px;
                line-height: 20px;
                max-height: 200px;
                padding: 20px 10px;
            }
        }
    }





    // .col-md-7{ 
    //     max-width: 1000px;
    //     h4{
    //         font-size: clamp(30px,4vw,60px);
    //         color: #0C438C;
    //     }
    //     p{
    //         font-style: "Rubik";
    //         font-size: 20px; 
    //         text-decoration: underline;


    //     }
    //     .textarea{
    //         input{

    //             width: 100%;
    //             height: 200px;
    //             padding: 20px 30px;
    //             border-radius: 15px;
    //             border: 2px solid #9B9B9B;

    //         }

    //     }
    //     .btns{
    //         height: 50px;
    //         input[type=checkBox]{
    //             display: none;
    //         }
    //         label{
    //             text-align: center;

    //             border: 2px solid #9B9B9B;
    //             color: #9B9B9B;
    //             width: 100%;
    //             height: 100%;
    //             text-transform: uppercase;
    //             border-radius: 20px;
    //             display:flex;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //         input[type=checkBox]:checked +label{
    //             border: 3px solid #FF981C  ;
    //             background-color: #FF981C;
    //             color: #fff;
    //         }
    //     }
    // }

}

.btn-navigation {
    position: fixed;
    top: calc(100vh - 70px);
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 -5px 20px rgba(186, 186, 186, 0.392);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        all: unset;
        width: 100%;
        max-width: 250px;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        background-color: #FF981C;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: center;

        &:disabled {
            opacity: 0.7;
        }
    }
}

@media screen and (min-width: 992px) {
    .btn-navigation {
        width: calc(100vw * 0.75) !important;
        // margin-left: -15px;
    }
}