.adresse{
    .img{
        min-width:500px ;
        min-height: 600px;
    }
  h4{
    font-size: clamp(35px,4vw,60px);
    color: #0C438C;
  }
  .form-group{
    margin: 30px 20px;
    select{
        width: 100%;
        max-width: 600px;
        margin: auto;
        height: 45px;
        padding-left: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
    }
  }
}