.adresse{
    .img{
        min-width:500px ;
        min-height: 600px;
    }
  h4{
    font-size: clamp(35px,4vw,60px);
    color: #0C438C;
  }
  .form-group{
    margin: 30px 20px;
    select{
        width: 100%;
        max-width: 600px;
        margin: auto;
        height: 45px;
        padding-left: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
    }
  }
}
.btn-navigation {
  position: fixed;
  top: calc(100vh - 70px);
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow:  0 -5px 20px rgba(186, 186, 186, 0.392);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
      all: unset;
      width: 100%;
      max-width: 250px;
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      background-color: #FF981C;
      border-radius: 10px;
      padding: 10px 20px;
      text-align: center;

  }
}
@media screen and (min-width: 992px) {
  .btn-navigation {
      width: calc( 100vw * 0.75 );
  }
}