
:root {
    --color-light-grey: #999;
    --color-grey:#e7e6e6;
    --color-blue:#0C438C;
    --color-light-orange:#FF981C;
    --color-light-orange-background:#DC851C;
    --color-wight:#fff ;

    --font-montaserra :"Montserrat", sans-serif;
    --font-poppins : "Poppins", sans-serif;
    --font-robot :  "Roboto", sans-serif;
}